<div class="most-purchased">
    <h2>Most Purchased Bicycles</h2>
    <div class="bicycles">
        <% bikes.slice(0, 3).forEach(bike => { %>
            <div class="bicycle">
                <a href="/bicycles/<%= bike.id %>">
                    <img src="<%= bike.image %>" alt="<%= bike.name %>">
                </a>
                <p><%= bike.name %></p>
                <p>$<%= bike.price %></p>
            </div>
        <% }) %>
    </div>
</div>