<!-- views/bike3.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/bikes.css">
</head>
<body>
    <div class="container">
        <h1><%= bikes[2].name %></h1>
        <img src="/assets/images/bike_1.png" alt="City E-Bike 1">
        <div class="bike-details">
            <h2>Description</h2>
            <p><%= bikes[2].description %></p>
            <h2>Price</h2>
            <h4><%= bikes[2].price %></h4>
            <h2>Details</h2>
            <h4>Manufacturer:</h4>
            <p><%= bikes[2].details.manufacturer %></p>
            <h4>Weight:</h4>
            <p><%= bikes[2].details.weight %></p>
        </div>
    </div>
</body>
</html>